* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.video-wrapper {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
}

p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}
